# file types
*.pyc
~$*.*
Thumbs.db

# top-level folders and files
/.vscode
/.vs
/addons
/appdata
/build
/installers
/CMakeUserPresets.json

# Android
/.idea
/.gradle
/local.properties

# Proprietary Steamworks SDK.
# Needs to be downloaded from behind the authentication and unzipped manually.
# https://partner.steamgames.com/downloads/steamworks_sdk.zip
/external/steamworks_sdk
