@charset "utf-8";
* {
	box-sizing: border-box;
	/* Eliminate half-pixel offsets, at which the Win98 font looks awful. */
	transform: translate(0);
}

/* ------------------------------------------------------------------------- */
/* 98.css extensions */
/* Title bar extensions */
.title-bar {
	height: 18px;
}

.title-bar-icon {
	width: 16px;
	height: 16px;
	vertical-align: bottom;
	margin-top: -2px;
	margin-bottom: -1px;
	margin-right: -1px; /* Assuming followed by whitespace. */
}

.title-bar-controls button.with-text,
.title-bar-controls button.with-text:active {
	padding: 0 8px;
	margin-left: 2px;
}
.title-bar-controls button.with-text[aria-label] {
	padding-left: 16px;
}

/* Body extensions */
.window-body-scrollable {
	overflow-y: auto;
	max-height: 432px;
	max-width: 576px;
}

fieldset {
	margin-bottom: 8px;
}
fieldset > legend + p {
	margin-top: 0;
}

button, input[type="reset"], input[type="submit"] {
	/* Override 75px with 76px to avoid half-pixel centering issue. */
	min-width: 76px;
}

/* ------------------------------------------------------------------------- */
/* Overarching page layout */
body {
	background-color: #008080;
	width: 100vw;
	height: 100vh;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	--canvas-width: 640px;
	--canvas-height: 480px;
}

.stacker {
	display: grid;
	justify-items: center;
	align-items: center;
}

.stacker > * {
	grid-area: 1 / 1 / 1 / 1;
}

/* Game canvas */
.canvas-sized {
	max-width: 100%;
	width: var(--canvas-width);
	height: var(--canvas-height);
}
.canvas-stacker {
	position: relative;
	background-color: black;
}
.canvas-stacker > * {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.canvas {
	position: relative;
	margin: auto;
	display: block;
	border: 0px none;
	background-color: black;
	min-width: var(--canvas-width);
	min-height: var(--canvas-height);

	pointer-events: none;
	opacity: 0;
	transition: opacity linear 0.2s;
}

.canvas-notice {
	display: flex;
	flex-direction: column;
	pointer-events: none;
}
.canvas-notice > * {
	pointer-events: auto;
}
.canvas-notice > div {
	margin: auto 0;
	padding: 10px;
	background: rgba(0, 0, 0, 0.7);
	color: white;
	/* Not text-align:center to avoid half-pixel offset issues */
	display: flex;
	justify-content: center;
}
.canvas-notice > img {
	margin: auto;
	max-width: 100%;
	max-height: 100%;
}

body.menu-open .canvas {
	cursor: initial !important;
}

/* ------------------------------------------------------------------------- */
/* Global styles */
[hidden] {
	display: none !important;
}

p {
	margin: 10px 0;
}

/* ------------------------------------------------------------------------- */
/* Installer upload */

table.flat-table {
	width: 100%;
	border-spacing: 0;
}

table.flat-table td {
	padding: 0;
}

table.flat-table td:not(:last-child) {
	padding-right: 10px;
}
